In [143]:
import json
import pandas as pd
import requests
r1 = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page=1')
r2 = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page=2')
r3 = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page=3')

In [144]:
d1 = r1.json()
d2 = r2.json()
d3 = r3.json()

To produce the dataframe specifiec in the assignment page, we'll need to use the director, rt_score, and a count of how many times the director came up in the entire dataset's director key

Also, upon changing the page # in the URL, we see more movies, this can be the fact that pages cannot handle all the movies at once perhaps, by design probably, the website makers wanted only x movies to be shown at a time and the rest to be on other pages

In [145]:
movies = []
for dic in [d1, d2, d3]:
    for item in dic:
        movies.append(item)

Getting Unique Directors and the amount of times they appear

In [146]:
directors = []
for movie in movies:
    directors.append(movie.get('director'))
def CountFrequency(my_list): 
    director_freq = {} 
    for director in directors: 
        if (director in director_freq): 
            director_freq[director] += 1
        else: 
            director_freq[director] = 1
    return director_freq
director_freq = CountFrequency(directors)

In [170]:
director_scores = {director:0 for director in list(set(directors))}
for movie in movies:
    score = float(movie.get('rt_score'))
    director = movie.get('director')
    director_scores[director] += score

In [171]:
director_freq

{'Hayao Miyazaki': 9,
 'Isao Takahata': 5,
 'Yoshifumi Kondō': 1,
 'Hiroyuki Morita': 1,
 'Gorō Miyazaki': 2,
 'Hiromasa Yonebayashi': 2,
 'Michaël Dudok de Wit': 1}

In [202]:
director_avg_score = {}
for director in list(director_scores.keys()):
    director_avg_score[director] = director_scores.get(director)/director_freq.get(director)

In [203]:
director_avg_score

{'Hiroyuki Morita': 89.0,
 'Gorō Miyazaki': 62.0,
 'Michaël Dudok de Wit': 93.0,
 'Hiromasa Yonebayashi': 93.5,
 'Isao Takahata': 90.0,
 'Hayao Miyazaki': 92.77777777777777,
 'Yoshifumi Kondō': 91.0}

In [204]:
df = pd.DataFrame(index = list(set(directors)))

In [205]:
df['avg_rt_score'] = [director_avg_score.get(director) for director in list(set(directors))]
df['count'] = [director_freq.get(director) for director in list(set(directors))]

In [208]:
df = df.sort_values(by = 'avg_rt_score', ascending=False)

In [209]:
df

                      avg_rt_score  count
Hiromasa Yonebayashi     93.500000      2
Michaël Dudok de Wit     93.000000      1
Hayao Miyazaki           92.777778      9
Yoshifumi Kondō          91.000000      1
Isao Takahata            90.000000      5
Hiroyuki Morita          89.000000      1
Gorō Miyazaki            62.000000      2